body {
    font-family: Arial, serif;
    font-size: 15px;
}

body > div {
    display:grid;
    grid-gap: 30px;
    grid-template-columns: repeat(12, 1fr);
}

.header {
    grid-column: 3 / 11;
}

.header .title {
    border-bottom: 1px solid #000000;
    font-size: 25px;
}

.tickets {
    grid-column: 3 / 11;
}

.tickets .pack {
    font-size: 25px;
    grid-column: 3 / 11;
    margin-bottom:25px;
}

.tickets .pack .title {
    border-bottom: 1px solid #000000;
}
